<tr id="scraper-<%= data.row_id %>">
	<td>
		<a href="#"><%= data.host %></a>
	</td>
	<td class="crawling-status"><span class="label label-info">crawling</span></td>
	<td class="general-stats">processing...</td>
	<td>
		<button class="btn btn-primary pause-crawling disabled" data-host_id="<%= data.row_id %>">Pause</button>
		<button class="btn btn-danger stop-crawling" data-host_id="<%= data.row_id %>">Stop</button>
	</td>
</tr>