<div class="container">
	<p>
		<form class="form-inline" method="POST" action="/add">
			<fieldset>
				<legend>Crawl a website</legend>
				<input type="text" class="input-large" name="url" placeholder="Address">
				<label class="checkbox inline">
					<input type="checkbox" name="clean_crawl" value="1"> Clean crawl
				</label>
			</fieldset>
			
			<br/>
			<a href="#" id="toggle-create-crawler-options" class="collapsed">options</a>
			<div id="create-crawler-options" style="display:none;">
				<label class="checkbox inline">
					<input type="checkbox" name="create_crawler_sitemap" value="1"> Generate sitemap
				</label>

				<br><br>

				<select name="create_crawler_depth">
					<option value="0">Crawling depth...</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>

				<br><br>
				Auth:
				<br>
				<input type="text" class="input-small" name="auth_user" placeholder="username">
				<br>
				<input type="password" class="input-small" name="auth_pass" placeholder="password">
			</div>
			
			<div style="padding-top: 10px;">
				<button type="submit" class="btn">Start crawling</button>
			</div>
		</form>
	</p>

	<p>
		<!-- <div id="rps-chart"></div> -->
		<fieldset>
			<legend>Active crawlers</legend>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Address</th>
						<th>Status</th>
						<th>General stats</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody id="active-scrapers-body">
				</tbody>
			</table>
		</fieldset>
	</p>

</div> <!-- /container -->