<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<title>Node Web Crawler</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Le styles -->
	<link href="/css/bootstrap/bootstrap.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>
	<script src="/js/highcharts.js"></script>
	<script src="/socket.io/socket.io.js"></script>

	<script>
		var socket = io.connect(window.location.hostname, {port: <%= port %>});
	</script>
</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>

				<div id="cont"></div>

				<a class="brand" href="/">Node Web Crawler</a>
				<!--<div class="nav-collapse collapse">
					<ul class="nav">
						<li><a href="/">Home</a></li>
						<li><a href="/scraper/active">Active scrapers</a></li>
					</ul>
				</div>--><!--/.nav-collapse -->
			</div>
		</div>
	</div> 
	<% if(typeof body!="undefined") { %>
		<%- body %>
	<% } %>

	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>
